<form class="login-form login">
    <object class="top-line" data="/public/photo/svg/Top Line.svg" type=""></object>
    <h1 class="title-login">چیسکو</h1>
    <p class="text-login">شماره همراه خود را برای ورود وارد کنید</p>
    <div class="d-flex input-login" >
        <input dir="rtl" type="text" id="inputEmail" class="form-control" placeholder="شماره تلفن مانند: 09173332211"  autofocus="">
        <object data="/public/photo/svg/call.svg" type=""></object>
    </div>



    <button type="submit" class="btn btn-lg  btn-block btn-login" > تایید و ارسال کد </button>
</form>