node_modules/
node_modules

docker/mongo/data

data/

docker/mailserver

.vscode/
.vs/
pnpm-lock.yaml
package-lock.json
yarn.lock
dist
dist/*
pnpm-lock.yaml
docker/mongo/
.idea/
.idea
.idea/workspace.xml
pnpm-lock.yaml
