node_modules/
node_modules

docker/mongo/data

data/

docker/mailserver

.vscode/
.vs/

package-lock.json
yarn.lock
dist
dist/

docker/mongo/
.idea/
.idea
.idea/workspace.xml

/dist/
