<div id="mainContent" dir="rtl">
    <!-- top main content -->
    <div class="top-content-title">
        <div class="d-flex flex-row justify-content-between">
            <div class="title-group">
                  <span class="title">مدیران</span
                  ><span class="text">تعداد کل: <?= countAllAdmins ?> نفر</span>
            </div>
            <button class="button" id="slide-down">
                افزودن مدیر جدید
                <object
                        data="/public/public/photo/svg/arrow-down.svg"
                        type=""
                ></object>
            </button>
        </div>
        <div id="add" class="slide-down-add">
            <div class="d-flex justify-content-between flex-row">
                <div class="group-info">
                    <label class="title" for="name">نام و نام خانوادگی</label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/userdark.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <input
                                id="name"
                                type="text"
                                class="form-control input-inner"
                                placeholder="مانند: علی میرهادی"
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                        />
                    </div>
                </div>
                <div class="group-info">
                    <label class="title" for="name"> شماره تماس </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/call.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <input
                                id="phone"
                                type="text"
                                class="form-control input-inner"
                                placeholder="مانند: 09215863622  "
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                        />
                    </div>
                </div>
                <div class="group-info">
                    <label class="title" for="name"> سطح دسترسی </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/level.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <select
                                class="form-select form-select-sm input-inner select-inner access"
                                aria-label="form-select-sm example"
                        >
                            <option selected value="admin">مدیر داشبورد</option>
                            <option value="warehouse">انبار دار</option>
                            <option value="customer_service">امور مشتریان</option>
                        </select>
                    </div>
                </div>

                <div class="group-info">
                    <label class="title" for="name"> وضعیت حساب </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/profile-circle.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <select
                                class="form-select input-inner form-select-sm select-inner enable"
                                aria-label="form-select-sm example"
                        >
                            <option selected value="enable">فعال</option>
                            <option value="disable">غیرفعال</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="add-btn">
                <button class="opt-out" id="slide-up">
                    <object data="/public/photo/svg/arrow-upsvg.svg" type=""></object
                    >
                    انصراف و بستن
                </button>
                <button class="accept add-admin">
                    <object data="/public/photo/svg/user-add.svg" type=""></object
                    >
                    تایید اطلاعات و ثبت مدیر
                </button>
            </div>
        </div>
    </div>

    <div class="teble-content">
        <!-- table -->
        <? if(allAdmins.length > 0){ ?>
        <table class="table">
            <thead>
            <tr>
                <th class="t-head" scope="col">ردیف</th>
                <th class="t-head" scope="col">نام و نام خانوادگی</th>
                <th class="t-head" scope="col">شماره تماس</th>
                <th class="t-head" scope="col">تاریخ عضویت</th>

                <th class="t-head" scope="col">دسترسی</th>
                <th class="t-head" scope="col">وضعیت کاربر</th>
                <th class="t-head" scope="col">عملیات</th>
            </tr>
            </thead>
            <tbody>
            <? let i =  ((pageNumber * limit)-limit)+1; ?>
            <? allAdmins.forEach(admin=> { ?>
            <tr data-id="<?= admin.id ?>">
                <th scope="row"><?= i++ ?></th>
                <td class="name-js"><?= admin.fullName ?></td>
                <td class="number-js"><?= admin.phoneNumber ?></td>
                <td class="date-js"><?= admin.registerDate ?></td>

                <td class="access-js" data-access="<?= admin.access ?>"><?= admin.accessTranslate ?></td>
                <td class="condition-js" data-enable="<?= admin.enable?'enable':'disable' ?>"><?= admin.enableTranslate ?></td>
                <td>
                    <div class="icon-table">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModallog">
                            <button
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="لاگ مدیر"
                                    class="see-admin-log"
                            >
                                <object
                                        data="/public/photo/svg/document-text.svg"
                                        type=""
                                ></object
                                >
                            </button>

                            <p style="display: none" class="admin-logs"><?= admin.logs ?></p>
                        </a>
                        <a class="edit-js" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <button
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="ویراش مدیر"
                            >
                                <object
                                        data="/public/photo/svg/user-editdark.svg"
                                        type=""
                                ></object>
                            </button>
                        </a>
                        <a>
                            <button
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="حذف مدیر"
                                    class="delete-admin"
                            >
                                <object data="/public/photo/svg/trash.svg" type=""></object
                                >
                            </button>
                        </a>

                    </div>
                </td>
            </tr>
            <? }) ?>
            </tbody>
        </table>
        <!-- pagination -->
        <?-  include('./include/pagination.ejs') ?>
        <? } else { ?>
        <!-- table empty -->
        <div class="teble-content empty-table">
            <object data="/public/photo/Empty Icon.svg" type=""></object>
            <span class="text-empty" dir="rtl">داده‌ای یافت نشد.</span>
        </div>
        <? } ?>
    </div>
</div>

<div class="modal edit-modal admin-edit-modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " dir="rtl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش مدیر “<span class="admin-name">علی میرهادی</span>”</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">بستن</button>
            </div>
            <div class="modal-body">
                <div class="group-info">
                    <label class="title" for="name">نام و نام خانوادگی</label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/userdark.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <input
                                id="name"
                                type="text"
                                class="form-control input-inner"
                                placeholder="مانند: علی میرهادی"
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                        />
                    </div>
                </div>
                <div class="group-info">
                    <label class="title" for="number"> شماره تماس </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/call.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <input
                                id="number"
                                type="text"
                                class="form-control input-inner"
                                placeholder="مانند: 09215863622  "
                                aria-label="Username"
                                aria-describedby="basic-addon1"
                        />
                    </div>
                </div>
                <div class="group-info">
                    <label class="title" for="name"> سطح دسترسی </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/level.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <select
                                id="access"
                                class="form-select form-select-sm input-inner select-inner"
                                aria-label="form-select-sm example"
                        >
                            <option selected value="admin">مدیر داشبورد</option>
                            <option value="warehouse">انبار دار</option>
                            <option value="customer_service">امور مشتریان</option>
                        </select>
                    </div>
                </div>

                <div class="group-info">
                    <label class="title" for="name"> وضعیت حساب </label>
                    <div class="input-group">
                        <object
                                data="/public/photo/svg/profile-circle.svg"
                                class="input-group-text"
                                id="basic-addon1"
                        ></object>
                        <select
                                id="condition"
                                class="form-select input-inner form-select-sm select-inner"
                                aria-label="form-select-sm example"
                        >
                            <option value="enable">فعال</option>
                            <option value="disable">غیرفعال</option>

                        </select>
                    </div>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-modal-edit edit-admin">تایید اطلاعات و ثبت مدیر</button>
                </div>
            </div>

        </div>
    </div>
</div>

<template id="log-template">
    <div class="row-log row flex justify-content-between log-row">
        <div class="datelog ">

            <span>{{hour}}</span> - <span>{{date}}</span>
        </div>
        <div class="textlog">
            {{text}}
        </div>
    </div>
</template>
<!-- modal log admin  -->
<div
        class="modal edit-modal log-modal fade"
        id="exampleModallog"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" dir="rtl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    تاریخچه فعالیت مدیر “<span class="admin-name-log">علی میرهادی</span>”
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                >
                    بستن
                </button>
            </div>
            <div class="modal-body notempty-modal-log">
                <div class="title-log-contant row flex justify-content-between">
                    <span for="datelog" class="title-log">تاریخ</span>
                    <span for="textlog" class="title-log text">شرح فعالیت</span>
                </div>
                <div class="list-of-logs">
                    <div class="row-log row flex justify-content-between log-row">
                        <div class="datelog ">

                            <span>24:52</span> - <span>1400/05/23</span>
                        </div>
                        <div class="textlog">
                            تغییر شماره تلفن کاربر “امیر همتی‌نژاد” از 09213332211 به
                            09172243322.
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-body empty-modal-log">
                <object data="/public/photo/Empty Icon.svg" type=""></object>
                <span class="text-empty" dir="rtl">داده ای یافت نشد.</span>
            </div>
        </div>
    </div>
</div>
<!-- end modal log -->