<div id="mainContent" dir="rtl">
    <div class="top-content-title">
        <div class="title-group">
                <span class="title">دستگاه‌ها</span
                ><span class="text">تعداد کل: <?= (+countAllCoolers)+(+countAllPowers) ?> دستگاه</span>
        </div>
    </div>
    <!-- tab table -->
    <div class="teble-content tab-table">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                        class="nav-link <?= activeTab == 'cooler'?' active' :'' ?>"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                >
                    <span class="num"><?= countAllCoolers ?></span>کنترلر کولر
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                        class="nav-link <?= activeTab == 'power'?' active' :'' ?>"
                        id="profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#profile"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                >
                    <span class="num"><?= countAllPowers ?></span>سه راهی
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div
                    class="tab-pane fade<?= activeTab == 'cooler'?' active show' :'' ?>"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
            >
                <? if(allCoolers.length>0){ ?>
                <!-- table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th class="t-head" scope="col">ردیف</th>
                        <th class="t-head" scope="col">شماره سریال</th>
                        <th class="t-head" scope="col">نام و نام خانوادگی</th>
                        <th class="t-head" scope="col">شماره تماس</th>
                        <th class="t-head" scope="col">تاریخ ثبت انبار</th>
                        <th class="t-head" scope="col">تاریخ فعالسازی</th>
                        <th class="t-head" scope="col">آخرین وضعیت</th>
                        <th class="t-head" scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <? let iCoolers =  ((coolerPageNumber * limit)-limit)+1; ?>
                    <? allCoolers.map(c => { ?>
                    <tr>
                        <th scope="row"><?= iCoolers++ ?></th>
                        <td><?= c.serialNumber ?></td>
                        <td><?= c.fullName ?></td>
                        <td dir="ltr"><?= c.phoneNumber ?></td>
                        <td><?= c.createAtJalali ?></td>
                        <td><?= c.activateJalaliDate ?></td>
                        <td class="<?= (c.lastStatus == 'آنلاین' || c.lastStatus == 'انلاین') ? 'online':'offline' ?>"><?= c.lastStatus ?></td>
                        <td>
                            <div class="icon-table">
                                <a  data-bs-toggle="modal" data-bs-target="#exampleModallog"
                                ><button
                                            href=""
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="لاگ دستگاه  "
                                            class="see-device-log"
                                    >
                                        <object
                                                data="/public/photo/svg/document-text.svg"
                                                type=""
                                        ></object></button
                                    >
                                    <p style="display: none" class="device-logs"><?= c.logs ?></p></a>
                                <a
                                        class="kick-device"
                                        data-serial="<?= c.serialNumber ?>"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="قطع اتصال دستگاه"
                                ><object
                                            data="/public/photo/svg/forbidden.svg"
                                            type=""
                                    ></object
                                    ></a>
                                <a  class="remove-customer">
                                    <button

                                            class="delete-device"
                                            data-serial="<?= c.serialNumber ?>"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="حذف دستگاه  "
                                    ><object
                                                data="/public/photo/svg/trash.svg"
                                                type=""
                                        ></object
                                        ></button>
                                </a>

                            </div>
                        </td>
                    </tr>
                    <? }) ?>
                    </tbody>
                </table>
                <? locals.queries.activeTab = 'cooler' ?>
                <!-- pagination -->
                <?- include('./include/pagination.ejs',{pagination:coolerPagination}) ?>
                <? } else{ ?>
                <!-- table empty -->
                <div class="teble-content empty-table">
                    <object data="/public/photo/Empty Icon.svg" type=""></object>
                    <span class="text-empty" dir="rtl">داده‌ای یافت نشد.</span>
                </div>
                <? } ?>
            </div>
            <!-- tab2 -->
            <div
                    class="tab-pane fade<?= activeTab == 'power'?' active show' :'' ?>"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
            >
                <? if(allPowers.length>0){ ?>
                <!-- table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th class="t-head" scope="col">ردیف</th>
                        <th class="t-head" scope="col">شماره سریال</th>
                        <th class="t-head" scope="col">نام و نام خانوادگی</th>
                        <th class="t-head" scope="col">شماره تماس</th>
                        <th class="t-head" scope="col">تاریخ ثبت انبار</th>
                        <th class="t-head" scope="col">تاریخ فعالسازی</th>
                        <th class="t-head" scope="col">آخرین وضعیت</th>
                        <th class="t-head" scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <? let iPowers =  ((powerPageNumber * limit)-limit)+1; ?>
                    <? allPowers.map(p => { ?>
                    <tr>
                        <th scope="row"><?= iPowers++  ?></th>

                        <td><?= p.serialNumber ?></td>
                        <td class="name-js"><?= p.fullName ?></td>
                        <td dir="ltr"><?= p.phoneNumber ?></td>
                        <td><?= p.createAtJalali ?></td>
                        <td><?= p.activateJalaliDate ?></td>
                        <td class="<?= (p.lastStatus == 'آنلاین' || p.lastStatus == 'انلاین') ? 'online':'offline' ?>"><?= p.lastStatus ?></td>
                        <td>
                            <div class="icon-table">
                                <a  data-bs-toggle="modal" data-bs-target="#exampleModallog"
                                ><button
                                            href=""
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="لاگ دستگاه  "
                                            class="see-device-log"
                                    >
                                        <object
                                                data="/public/photo/svg/document-text.svg"
                                                type=""
                                        ></object></button
                                    >
                                    <p style="display: none" class="device-logs"><?= p.logs ?></p></a>

                                <a href=""
                                ><button
                                            class="kick-device"
                                            data-serial="<?= p.serialNumber ?>"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="قطع اتصال دستگاه"
                                    >
                                        <object
                                                data="/public/photo/svg/forbidden.svg"
                                                type=""
                                        ></object></button
                                    ></a>

                                <a  class="remove-customer"
                                ><button
                                            class="delete-device"
                                            data-serial="<?= p.serialNumber ?>"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="حذف دستگاه  "
                                    >
                                        <object
                                                data="/public/photo/svg/trash.svg"
                                                type=""
                                        ></object></button
                                    ></a>
                            </div>
                        </td>
                    </tr>
                    <? }) ?>
                    </tbody>
                </table>
                <? locals.queries.activeTab = 'power' ?>
                <!-- pagination -->
                <?- include('./include/pagination.ejs',{pagination:powerPagination}) ?>
                <? } else { ?>
                <!-- table empty -->
                <div class="teble-content empty-table">
                    <object data="/public/photo/Empty Icon.svg" type=""></object>
                    <span class="text-empty" dir="rtl">داده‌ای یافت نشد.</span>
                </div>
                <? } ?>
            </div>
        </div>
    </div>
</div>

<template id="log-template">
    <div class="row-log row flex justify-content-between log-row">
        <div class="datelog ">

            <span>{{hour}}</span> - <span>{{date}}</span>
        </div>
        <div class="textlog">
            {{text}}
        </div>
    </div>
</template>
<!-- modal log admin  -->
<div
        class="modal edit-modal log-modal fade"
        id="exampleModallog"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" dir="rtl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    تاریخچه فعالیت دستگاه “<span class="admin-name-log">علی میرهادی</span>”
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                >
                    بستن
                </button>
            </div>
            <div class="modal-body notempty-modal-log">
                <div class="title-log-contant row flex justify-content-between">
                    <span for="datelog" class="title-log">تاریخ</span>
                    <span for="textlog" class="title-log text">شرح فعالیت</span>
                </div>
                <div class="list-of-logs">
                    <div class="textlog">
                        تغییر شماره تلفن کاربر “امیر همتی‌نژاد” از 09213332211 به
                        09172243322.
                    </div>
                </div>



            </div>
            <div class="modal-body empty-modal-log">
                <object data="/public/photo/Empty Icon.svg" type=""></object>
                <span class="text-empty" dir="rtl">داده ای یافت نشد.</span>
            </div>
        </div>
    </div>
</div>
<!-- end modal log -->