</div>
</div>
</div>

<?- include('./profile.ejs') ?>
<?- include('./modal.ejs') ?>


<script src="/js/lib/bootstrap.min.js"></script>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/chisco.js"></script>
<!--<script src="/js/lib/sweetAlert.min.js"></script>-->
<script src="/js/main.js"></script>
<?  if(locals.scripts) ?>
<? locals.scripts.forEach((script) => { ?>
<script src="<?= script ?>"></script>
<? }) ?>
</body>
</html>