<nav class="navigation" aria-label="Page navigation example">
    <ul class="pagination" dir="ltr">
       <?- pagination.make(locals.queries) ?>
    </ul>
    <p class="pagination-text"><?- pagination.getInformation() ?></p>
</nav>