
<nav id="mainNav">
    <div class="name-customer d-flex">
        <span class="name"><?= locals.fullName ?></span>
        <div class="icon">
            <object data="/public/photo/svg/userdark.svg" type=""></object>
        </div>
    </div>
    <div class="search-bar" dir="rtl">
        <form class="nosubmit">
<!--            <input-->
<!--                    class="nosubmit"-->
<!--                    type="search"-->
<!--                    placeholder="جست و جو کاربران، دستگاه‌ها و ..."-->
<!--            />-->
        </form>
    </div>
</nav>